<h1>{{restaurant.restaurantName}}</h1>
<p>Food Type: {{restaurant.foodType}}</p>
<p>Price Range: {{restaurant.priceRange}}</p>
<p>Hours of Operation: {{restaurant.hoursOfOperation}}</p>
<p>Address: {{restaurant.address}}</p>
<p>Alcohol: {{restaurant.alcohol}}</p>
<p>Restaurant Website: {{restaurant.restaurntWebsite}}</p>
<p>Phone Number: {{restaurant.phoneNumber}}</p>
<p>Delivery: {{restaurant.deliveryService}}</p>
<p>Average Review Score: {{restaurant.averageUserScores}}</p>


<app-reviewview *ngFor="let review of Reviews" [childReview]="review" ></app-reviewview>
