<div class="navbar navbar-expand-md navbar-light d-inline-block bg-light container">
    
          
          <span class="spacer"></span>
<div class="row">
    
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Restaurants</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
            <button ngbDropdownItem (click)="$event.preventDefault(); onSelect(type)" *ngFor="let type of RestaurantType">{{type.name}}</button>
        </div>
      </div>
   
    <a routerLink="search"  routerLinkActive="active">Search</a>
    <a routerLink="register" routerLinkActive="active">Register </a >
    <a class="button" (click)="$event.preventDefault(); onProfile()">My Account</a>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Sign In</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <app-login></app-login>
          <div class="dropdown-divider"></div>              
          <button ngbDropdownItem>Forgot password?</button>
        </div>
      </div>

    <button class="button"  (click)="logout()">Sign out</button>


         
               
            
     
     
    
    
    

</div>
</div>


      
            
