nav{
    width: 100%;
    display: flexbox;
    outline-style: double;
    margin:1%;
    }
ul{ position: absolute;
    display:inline-flex;

}
.container{
    outline-style: double;    
    justify-content: center;
    flex-direction: row;
}
.secondary{
    margin-bottom: auto;
}
.nav-link{
    color:#007BFE;

}
.button {
    background: none!important;
    border: none;
    padding: 0!important;
    color:#007BFE;    
    
  }

  .button:hover{
      text-decoration: underline;
  }

 