nav{
    width: 100%;
    display: flexbox;    
    
    }
ul{ position: absolute;
    z-index: 100;
    display:inline-block;

}
.container{
    outline-style: double;    
    justify-content: flex-end;
    flex-direction: column;
}


 