<p>{{this.restaurantType}}</p>
<table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Restaurant Name</th>
          <th scope="col">Area</th>
          <th scope="col">Population</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let restaurant of Restaurants">
          <th scope="row"></th>
          <td>
           <a (click)="onSelect(restaurant)">{{ restaurant.restaurantName }}</a>
          </td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
      
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
        </select>
      </div>
