<div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
          <div>
            <label for="Email">
              Email
            </label>
            <input id="REmail" type="email" formControlName="Email" />
          </div>
      
          <div>
            <label for="Password">
              Password
            </label>
            <input id="RPassword" type="password" formControlName="Password" />
          </div>
      
          <div>
            <label for="FirstName">
              First Name
            </label>
            <input id="FirstName" type="text" formControlName="FirstName" />
          </div>
      
          <div>
            <label for="LastName">
              Last Name
            </label>
            <input id="LastName" type="text" formControlName="LastName" />
          </div>
      
          <div>
            <label for="Address">
              Address
            </label>
            <input id="Address" type="address" formControlName="Address" />
          </div>
          
          
          
       
        
      
          <button class="button" type="submit">Register</button>
        </form>

        <input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button>
<img src="{{this.ImagePath}}" alt="" width="15%">
      
    
      
      
      
    